.craftmn {
    background-color: #FFEBDF;
    width: 100%;
    height: 500px;
    top: 112px;
    top: 130px;
    left: 615px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
}

.yim {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 250;
    line-height: 62px;
    letter-spacing: 0.05em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: #313131;
}

.yim2 {
    padding-top: 100px;
}

.yim3 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: 0.04em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: #313131;
    padding-bottom: 5px;
}

.oprod {
    width: Fixed (180px)px;
    height: Hug (47px)px;
    top: 358px;
    left: 869px;
    padding: 5px 24px 12px 24px;
    gap: 7.5px;
    text-decoration: none;
    color: white;
    border-radius: 8px 8px 8px 8px;
    opacity: 0px;
    background: #0060A2;

}

.imag {
    height: 450px;
    width: 465px;
    position: absolute;
    left: 3px;
    background-image: url('../img/book.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    rotate: 180deg;
    transform: scaleY(-1);
    margin: 20px 0px 20px 20px;
    border-radius: 12px;
    display: block;
}

.imag2 {
    height: 450px;
    width: 465px;
    position: absolute;
    right: 0;
    background-image: url('../img/book2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 20px 20px 0px;
    border-radius: 12px;
    display: block;
}

/* mobile  */
@media (max-width: 767px) {
    .craftmn {
        height: auto;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .yim {
        font-size: 30px;
    }

    .yim2 {
        padding-top: 50px;
    }

    .oprod {
        width: 100%;
        max-width: 200px;
        margin: 20px auto;
        padding: 12px 24px;
        text-align: center;
    }

    .imag,
    .imag2 {
        width: 100%;
        height: auto;
        margin: 20px 0;
        border-radius: 0;
        position:static;
        display: block;
        transform: none;
        background-image: url('../img/book.jpeg');
        background-image: url('../img/book2.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .yim {
        font-size: 35px;
    }

    .oprod {
        max-width: 250px;
    }
}