body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 90px;
    width: 100%;
}

.container {
    padding: 0px 90px;
}

.logtct {
    display: flex;
    width: 250px;
    height: 50px;
    padding: 5px 10px 25px 0px;
}

.logo {
    font-family: Philosopher;
    font-size: 35px;
    font-weight: 650;
    margin: 0px 20px 10px 5px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: left;
    color: #0060A2;
}

.log1 {
    height: 30px;
    width: 24px;
    padding: 10px;
}

.search-box {
    display: flex;
    width: 680px;
    height: 35px;
    margin: 0px 20px 15px 0px;
    border: 1px solid grey;
    border-radius: 4px;
    padding-top: 2px;
}

.search-box input {
    padding: 5px ;
    border: none;
    font-size: 14px;
}

.menu {
    padding: 0px 10px 10px 10px;
    margin: 0px 10px 10px 10px;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
}

.menu1 {
    padding-right: 10px;
}

.menu4 {
    padding: 10px 5px 10px 15px;
    color: grey;
}

.menu2 {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.categories {
    display: flex;
}

.categories1 {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 55px;
    position: absolute;
    width: 1060px;
    left: 100px;
    top: 65px;


}

/*  mobile */
@media (max-width: 767px) {
    .container {
      padding: 0 20px; 
    }
  
    .logtct {
      width: auto;
    }
  
    .logo {
      font-size: 25px;
      margin: 0; 
    }
  
    .search-box {
      width: calc(100% - 20%);
      margin: 0 20px 15px 0; 
    }
  
    .categories {
      flex-wrap: wrap;
      justify-content: center; 
    }
  
    .menu {
      margin: 0 5px; 
    }
  
    .categories1 {
      visibility: hidden;
    }
  }
  
  /* tablet  */
  @media (min-width: 768px) and (max-width: 1023px) {
    .container {
      padding: 0 50px; 
    }
  
    .categories1 {
      width: 100%; 
      justify-content: center;
    }
  }
  